In [19]:
import pandas as pd

# Set your file paths
input_csv = r'C:\Users\abro27\OneDrive\Desktop\Mak\Education\3.Data_Analytics\Final Project\Capstone Projects\Datas\Sentiment_Analysis\ethiopian_airlines_overall_sentiment.csv'
output_standardized = r'C:\Users\abro27\OneDrive\Desktop\Mak\Education\3.Data_Analytics\Final Project\Capstone Projects\Datas\Sentiment_Analysis\ethiopian_airlines_overall_sentiment_final.csv'

# Load your data
df = pd.read_csv(input_csv)

# IATA to city mapping (horizontal format for easy pasting)
iata_to_city = {
    'ABB': 'Asaba',
    'ABV': 'Abuja',
    'ACC': 'Accra',
    'ADD': 'Addis Ababa',
    'ARN': 'Stockholm',
    'BKK': 'Bangkok',
    'BLZ': 'Belize City',
    'BOM': 'Mumbai',
    'BRU': 'Brussels',
    'CDG': 'Paris',
    'COO': 'Cotonou',
    'CPT': 'Cape Town',
    'DAR': 'Dar es Salaam',
    'DEL': 'Delhi',
    'DLA': 'Douala',
    'DUB': 'Dublin',
    'DUR': 'Durban',
    'DXB': 'Dubai',
    'EBB': 'Entebbe',
    'EWR': 'Newark',
    'FCO': 'Rome',
    'FIH': 'Kinshasa',
    'FRA': 'Frankfurt',
    'GRU': 'São Paulo',
    'HKG': 'Hong Kong',
    'HRE': 'Harare',
    'IAD': 'Washington DC',
    'JED': 'Jeddah',
    'JNB': 'Johannesburg',
    'JRO': 'Kilimanjaro',
    'JUB': 'Juba',
    'KRT': 'Khartoum',
    'KUL': 'Kuala Lumpur',
    'LAD': 'Luanda',
    'LAX': 'Los Angeles',
    'LHR': 'London',
    'LLW': 'Lilongwe',
    'LOS': 'Lagos',
    'MBA': 'Mombasa',
    'MNL': 'Manila',
    'MXP': 'Milan',
    'NBO': 'Nairobi',
    'NLA': 'Ndola',
    'NSI': 'Yaoundé',
    'SEZ': 'Mahe (Seychelles)',
    'TLV': 'Tel Aviv',
    'VIE': 'Vienna',
    'WDH': 'Windhoek',
    'YYZ': 'Toronto',
    'ZNZ': 'Zanzibar',
}
# Function to replace IATA codes with city name
def replace_if_iata(x):
    val = x.strip().upper() if isinstance(x, str) else x
    return iata_to_city.get(val, x)

# Apply the function to both columns
df['departure_city'] = df['departure_city'].apply(replace_if_iata)
df['arrival_city'] = df['arrival_city'].apply(replace_if_iata)

# Save to a new CSV (no helper columns)
df.to_csv(output_standardized, index=False)
print(f"Standardization complete! Saved as '{output_standardized}'.")

Standardization complete! Saved as 'C:\Users\abro27\OneDrive\Desktop\Mak\Education\3.Data_Analytics\Final Project\Capstone Projects\Datas\Sentiment_Analysis\ethiopian_airlines_overall_sentiment_final.csv'.